.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.active {
  font-weight: 500;
  color:#A93F55
}

.bold {
  font-weight: 700;
}

.description {
  font-weight: 300;
}