
body {
  margin: 0;
  font: 16px/1.5 'Roboto Slab', serif;
  font-weight: 300;
  background-color: #F3F7F0;
  min-height: 50vh;
  max-height: 90vh;
}

header, footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  margin-top: 1rem
}
footer {
  margin-bottom: 1rem;
  font-size: 2rem;
}

main {
  margin: 0 20%;
  min-height: 70vh;
}

nav>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
h2 {
  margin-bottom: 0;
}

li {
  margin-bottom: 5px;
}

li>a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px  
}



li>a>span {
  min-width: 80px;
}